.project{width:100%;background: #f4f5fb;}
.wrapper{width:1200px;margin: 0 auto;}

.fl{float:left;}
.fr{float:right;}


.headerMod {position:relative;}
.headerMod .header{position:absolute;top:20px;width: 100%;left: 0;}
.headerMod .pic{width: 100%;margin: 0 auto;}


/*.headerMod .pic1 img{height:969px;width: 100%;}
.headerMod .pic2 img{height:595px;width: 100%;}*/


.bgimg{background: url(../img/top_bg.png) no-repeat center;
background-size:100% 100%;height:969px;}

.bgimg1{background: url(../img/about_bg.png) no-repeat center;
background-size:100% 100%;height:595px;}

.bgimg2{background: url(../img/develpoers_top.png) no-repeat center;
background-size:100% 100%;height:595px;}

.bgimg3{background: url(../img/app_bg.png) no-repeat center;
background-size:100% 100%;height:595px;}

.bgimg4{background: url(../img/teamotp.png) no-repeat center;
background-size:100% 100%;height:595px;}

.bgimg5{background: url(../img/xyzotp.png) no-repeat center;
background-size:100% 100%;height:595px;}









.header{overflow:hidden;}
/*.header .logo{width: 30%;}
.header .nav{width:70%;}*/

.header .logo img{width:156px; height:38px;}
.header .nav ul li{float:left;margin-right: 40px;}
.header .nav ul li a{font-size: 14px; color: #fff;font-family:tahoma;}
.header .nav ul li a.on{color: #FFC900;}

.headerMod .infoMod{text-align: center;padding-top:130px;color:#fff;}

.headerMod .infoMod h4{font-size: 22px;margin-bottom: 25px;font-family:tahoma;font-weight:bold;}
.headerMod .infoMod p{font-size:14px;font-family:tahoma;margin-bottom: 10px;}

.headerMod .infoMod1{padding-top: 100px;}


.investments {padding-top: 120px;overflow:hidden;}
.investments .pic{width:60%;}
.investments .pic img{width:607px;height:556px;}
.investments .text{width:40%;padding-top:100px;}
.investments .text h4{font-size:22px;color: #333;font-family:tahoma;font-weight:bold;margin-bottom: 25px;}
.investments .text p{font-size:14px;color:#666;font-family:tahoma;line-height:20px;}
.investments .text ul li{font-size:14px;color: #666;font-family:tahoma;margin-bottom:5px;}


.Fundraising{padding-top: 100px;}
.title{text-align: center;}
.title h4{font-size:22px;color: #333;font-family:tahoma;font-weight:bold;margin-bottom:65px;}
.Fundraising ul li{float:left;width: 33.3333%;text-align: center;
background: url(../img/li_bg.png) no-repeat center; background-size: 100%;height:410px;}
.Fundraising .item{padding:70px 0 35px; }
.Fundraising .item .img img{width: 90px; height: 90px;}
.Fundraising .item .txt{padding-top:25px; width:73%; margin: 0 auto;}
.Fundraising .item .txt h5{font-size:20px;color: #333;font-family:tahoma;font-weight:bold;margin-bottom:25px;}
.Fundraising .item .txt p{font-size:14px;color: #666;font-family:tahoma;line-height: 20px;}

.management{padding-top:100px;margin-bottom: 130px;}
.management .title h4{margin-bottom:110px;}
.management ul li{float:left;width:50%;margin-bottom:40px; 
overflow:hidden;}
.management .item{ height:240px;
border:1px solid #ccc;border-radius:10px; width:93%;margin: 0 auto;}
.management .item .cont{padding:75px 30px 0;}
.management .icon{float:left;width:20%;}
.management .icon img{width:90px;height:90px;}
.management .txt{float:right;width:78%;}
.management .txt h5{font-size:20px;color: #333;font-family:tahoma;font-weight:bold;margin-bottom:25px;}
.management .txt p{font-size:14px;color: #666;font-family:tahoma;line-height: 20px;}

.management li:hover{background: url(../img/li_bg2.png) no-repeat center;
background-size: 100% 100%;}
.management li:hover .item{border:1px solid #f4f5fb;}
.management li:hover .cont h5{color: #fff;}
.management li:hover .cont p{color: #fff;}


.foot .signUp{padding:105px 0;background:url(../img/singup_bg.png) no-repeat center;background-size: 100% 100%;
text-align: center;}
.foot .signUp h4{font-size:22px;color:#333333;font-family:tahoma;font-weight:bold;margin-bottom:60px;}
.foot .signUp .text{width:473px;height:60px;background:none;border:1px solid #a4a1a1;
border-radius:30px;margin-right: 20px;text-indent:20px;font-size: 14px;color: #999; outline:0;}
.foot .signUp .btn{width:235px;height:60px;background: url(../img/press.png) no-repeat center;
border:none;cursor:pointer;font-size:14px;color: #fff;outline:0;}

.foot .signUp .text:focus{border-color:#8814ff;}


.headerMod .video{position:absolute;bottom:-180px;width:630px ;height:360px;
left:50%;margin-left:-315px;}
.headerMod .video embed{width:630px;height:360px;}



.headerMod .video .cont{width: 100%;position:absolute;top:0;left:0;right:0;bottom:0;
text-align: center;padding:140px 0;}
.headerMod .video .cont i{display:inline-block;width:27px;height:32px;background:url(../img/start.png) no-repeat ;}
.headerMod .video .cont p{font-size:14px;color: #ffffff;padding-top:10px;}




.aboutPage{background: #fff;padding-bottom: 160px;}
.aboutPage .list{padding-top: 300px;}
.aboutPage .list ul li{margin-bottom: 100px;}
.aboutPage .list .icon{float:left;width:10%;}
.aboutPage .list .text{float:right;width:88%;}
.aboutPage .list .text h5{font-size:20px;color:#333333;font-family:tahoma;font-weight:bold;margin-bottom: 25px;}
.aboutPage .list .text p{font-size:14px;color: #666;font-family:tahoma;line-height: 20px;}


.foot1{padding:50px 0 0;}
.foot1 .contanct h4{font-size:22px;color:#333333;font-family:tahoma;
font-weight:bold;margin-bottom:60px;text-align: center;}
.foot1 .contanct ul{width:50%; margin:0 auto; float:right;padding-right:100px;}
.foot1 .contanct ul li{
	float:left;margin-right: 30px; position:relative;width: 30px; height:30px;}
.foot1 .contanct ul li img.hide{position:absolute;top:0;left: 0;display:none;}
.foot1 .contanct ul li a:hover img.hide{display:block;}

.applPage{padding-top: 100px;padding-bottom: 170px;background: #fff;}
.applPage h3{font-size:22px;color:#333333;font-family:tahoma;font-weight:bold;margin-bottom:60px;text-align: center;}
.applPage .list{text-align: center;}
.applPage .list .pic img{width:90px;height:90px;margin-bottom: 45px;}
.applPage .list .text{padding:0 100px;}
.applPage .list .text h4{font-size:20px;color:#333333;font-family:tahoma;font-weight:bold;margin-bottom:25px;}
.applPage .list .text p{font-size:14px;color: #666;font-family:tahoma;line-height: 20px;}
.applPage .list1{margin:0 auto 60px;width: 50%;}

.applPage .list2 ul li{float:left;width: 50%;margin-bottom: 80px;}


.copright{text-align: center;font-size: 12px;color: #999;
font-family:"microsoft yahei";padding:100px 0px 20px 0px;}

.decelop{padding:250px 0 930px;background: #fff;}
.decelop h3{font-size:22px;color:#333333;font-family:tahoma;font-weight:bold;margin-bottom:60px;text-align: center;}

.teamPage{padding:100px 0;background: #fff;}
.teamPage .list{text-align: center;}
.teamPage .list ul li{margin-bottom: 100px;}
.teamPage .list ul li:last-child{margin-bottom: 0;}
.teamPage .list .txt h5{font-size:20px;color:#333333;font-family:tahoma;font-weight:bold;margin-bottom:25px;}
.teamPage .list .txt p{font-size:14px;color: #666;font-family:tahoma;line-height: 20px;}

.xyzPage .bg1{background: #fff;}
.xyzPage .aboutPage{background: #f4f5fb;padding:0 0;}
.xyzPage .aboutPage .list {padding:100px 0;}

.xyzPage .aboutPage .list li{height:200px;margin-bottom:20px;}
.xyzPage .aboutPage .list li:hover{
background: url(../img/li_bg3.png) no-repeat left;
background-size:100% 100%; width: 100%;height: 200px; }
.xyzPage .aboutPage .list .item{padding:35px;}
.xyzPage .applPage{padding:100px 0 ;}
.xyzPage .applPage ul li{margin-bottom: 0;}

.xyzPage .cont{padding:100px 0;}
.xyzPage .cont h4{font-size:22px;color:#333333;font-family:tahoma;font-weight:bold;margin-bottom:55px;}
.xyzPage .cont .picmod img{width:606px;display:block;margin: 0 auto;}
